<%= render 'users/shared/profile_sidebar' %>

<% @user.role?('guru') ? user_type = 'Guru' : user_type = 'Wurqer' %>

<div class="push-right">
    <h2><%= @user.member_name.present? ? @user.member_name : @user.username %></h2>
    <div class="user-meta">
        <%= user_type %><%= @user.gender.present? ? ' &nbsp;/&nbsp; '.html_safe + @user.gender.camelize : '' %> <span class="user-online <%= is_user_online?(@user) ? 'online' : 'offline' %>"><span class="on"><i></i>online!</span><span class="off"><i></i>offline</span></span>
    </div>
    <div class="section-header">
        <h4>About this <%= user_type %></h4>
    </div>
    <dl>
        <% if @user.user_interests.present? %>
            <dt><%= @user.role?('guru') ? 'Specialties' : 'Interests' %></dt>
            <dd><%= @user.user_interests.map(&:interest).join(', ') %></dd>
        <% end %>
    </dl>

    <% if @user.role?('guru') && @user.testimonials.present? %>
        <div class="section-header">
            <h4>Testimonials</h4>
        </div>
        <ul id="profile-testimonials" class="unstyled">
        <% @user.testimonials.each do |testimonial| %>
            <li>
                <h4><%= testimonial.date.strftime('%m/%d/%Y') if testimonial.date %></h4>
                <p><%= testimonial.body %></p>
                <p class="name"><%= testimonial.name %></p>
            </li>
        <% end %>
        </ul>
    <% end %>
</div>