
    <div class="widget-title"><h3 class="green">Narrow Your Results</h3></div>
    <div class="widget">
       
        <%= form_tag search_users_path, :method => :get, :class => 'form-search' do |f|%>
            <p>Within <%= select_tag 'miles', options_for_select((10..100).to_a.select{|n| n%10 == 0}) %> of ..<br></p>
			<p><%= radio_button_tag 'location', 'saved', true, :class => 'location' %> My saved location (<%= current_user.city + ', ' + current_user.state %>)</p>
			<p><%= radio_button_tag 'location', 'custom', false, :class => 'location' %> <%= text_field_tag 'address', nil, :placeholder => 'Address' %> 
			<%= text_field_tag 'city', nil, :placeholder => 'City' %> <%= select_tag 'state', options_for_select(state_list) %> <%= text_field_tag 'zip', nil, :placeholder => 'Zip Code' %> </p>

            <div class="centered">
                <%= submit_tag 'Search', :class => 'btn btn-green' %>
            </div>
    
        <% end %>
     </div>

<% if !@techs.blank? %>
    <ul id="search_results" class="unstyled">
        <% @techs.each do |u| %>
            <li>
                <%= image_tag u.profile_picture.url(:medium), :class => 'user-photo' %>
                <h4><%= link_to (u.full_name + ' &raquo;').html_safe, user_profile_path(u) %></h4>
                <dl class="rate">
                    <dt>Rate :</dt>
                </dl>
                <%= link_to 'Schedule an Appointment', schedule_appointment_users_path(:tech_id => u.id), :class => 'btn' %>
            </li>
        <% end %>
    </ul>
    <%= will_paginate @techs, :renderer => BootstrapPagination::Rails %>
<% elsif !params[:address].nil? %>
    <p>There are currently no techs in your area.</p>
<% end %>