<h2>Settings</h2>

<%= form_for @user, :validate => true do |f| %>
    <% flash.each do |name, msg| %>
        <%= content_tag :p, msg, :class => "alert alert-error flash_#{name}" if msg.length > 0 %>
    <% end %>

    <p><%= f.label :email %><br>
    <%= f.email_field :email %></p>

    <p><%= f.label :full_name %><br>
    <%= f.text_field :full_name %></p>

    <p><%= f.label :username %><br>
    <%= f.text_field :username %></p>

    <p><%= f.label :city %><br>
    <%= f.text_field :city %></p>

    <p><%= f.label :state %><br>
    <%= f.text_field :state %></p>

    <p><%= f.label :zip %><br>
    <%= f.text_field :zip %></p>
    
    <p><%= f.label :timezone %><br>
    <%= f.collection_select :timezone, ActiveSupport::TimeZone.us_zones, :name, :to_s %></p>
    
    <% if @user.role?('tech') %>
      <p><%= f.label :rate, "Hourly Rate $" %>
      <%= f.text_field :rate %></p>
      
      <p><%= f.label :distance, "Preferred Distance to Travel" %>
      <%= f.select :distance, options_for_select((10..100).to_a.select{|n| n%10 == 0}) %> Miles</p>
    <% end %>

	<p><%= f.label :profile_picture %><br>
    <%= f.file_field :profile_picture %></p>

	<% if @user.profile_picture.present? %>
	  <div id="current_photo">
		<p>Current Profile Picture: <br>
			<%= image_tag @user.profile_picture.url(:medium) %></p>
		<p><%= link_to 'Delete Photo', '#', :id => 'delete_avatar' %></p>
	  </div>
	<% end %>

    <div class="submit">
        <%= f.submit "Save", :class => "btn" %>
    </div>
<% end %>